In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('worldcup2014.csv')

In [3]:
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [4]:
df['continent'].value_counts()

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [5]:
df['continent'].value_counts() / len(df)

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [6]:
#¿Cuál es el continente con una mayor presencia en la muestra? Europa
#¿Cuál es la probabilidad de elegir un equipo asiático al azar? 0.12500
#¿Cuál es la probabilidad de elegir un equipo africano al azar? 0.15625

In [7]:
europa=df[df['continent'] == 'europe']
europa

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0

In [8]:
sudamerica=df[df['continent'] == 'southamerica']
sudamerica

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1

In [9]:
africa=df[df['continent'] == 'africa']
africa

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1

In [10]:
norteamerica=df[df['continent'] == 'northamerica']
norteamerica

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1

In [11]:
asia=df[df['continent'] == 'asia']
asia

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [16]:
paises_clasificados=df[df['clasificado'] == 1]
paises_clasificados['continent'].value_counts()

europe          6
southamerica    5
northamerica    3
africa          2
Name: continent, dtype: int64

In [17]:
paises_clasificados['continent'].value_counts()/len(paises_clasificados)

europe          0.3750
southamerica    0.3125
northamerica    0.1875
africa          0.1250
Name: continent, dtype: float64

In [18]:
#¿Cuál fue la probabilidad de que un país asiático pase a la siguiente ronda? 0
#¿Cuáles fueron los dos continentes que tuvieron la mayor probabilidad de clasificar? Europa y Sudamerica
#¿Cuál fue la probabilidad de no clasificar un país europeo? 0,625

In [21]:
for i in [africa, europa, asia, norteamerica, sudamerica]:
    print(i['juegos_ganados'].value_counts('%'))

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64
1    0.461538
2    0.230769
3    0.153846
0    0.153846
Name: juegos_ganados, dtype: float64
0    1.0
Name: juegos_ganados, dtype: float64
2    0.50
1    0.25
0    0.25
Name: juegos_ganados, dtype: float64
2    0.500000
3    0.333333
1    0.166667
Name: juegos_ganados, dtype: float64

In [22]:
for i in [africa, europa, asia, norteamerica, sudamerica]:
    print(i['juegos_perdidos'].value_counts('%'))

2    0.4
1    0.4
3    0.2
Name: juegos_perdidos, dtype: float64
2    0.384615
1    0.307692
0    0.307692
Name: juegos_perdidos, dtype: float64
2    0.75
3    0.25
Name: juegos_perdidos, dtype: float64
0    0.50
3    0.25
1    0.25
Name: juegos_perdidos, dtype: float64
1    0.5
0    0.5
Name: juegos_perdidos, dtype: float64

In [36]:
for i in [africa, europa, asia, norteamerica, sudamerica]:
    print(pd.Series(np.where(i['juegos_ganados']>=1,1,0)).value_counts('%'))

1    0.6
0    0.4
dtype: float64
1    0.846154
0    0.153846
dtype: float64
0    1.0
dtype: float64
1    0.75
0    0.25
dtype: float64
1    1.0
dtype: float64

In [37]:
#¿Qué continente tuvo una mayor probabilidad de ganar juegos? Europa
#¿Qué continente presentó un nivel similar entre juegos ganados y perdidos? Africa y Norteamerica

In [38]:
for i in [africa, europa, asia, norteamerica, sudamerica]:
    print(pd.Series(np.where(i['juegos_perdidos']>=1,1,0)).value_counts('%'))

1    1.0
dtype: float64
1    0.692308
0    0.307692
dtype: float64
1    1.0
dtype: float64
1    0.5
0    0.5
dtype: float64
1    0.5
0    0.5
dtype: float64

In [ ]:
#¿Qué continente tiene una mayor probabilidad de clasificar? Europa
#¿Qué continente tiene una menor probabilidad de clasificar? Africa
#¿Cuál es la probabilidad de no clasificar de un país africano? 0,875