In [91]:
import pandas as pd
import numpy as np

In [92]:
df=pd.read_csv('flights2.csv')

In [93]:
array_1= np.linspace(1,50)
print (array_1)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.]

In [94]:
array_2=np.linspace(50,150,101)
print (array_2)

[ 50.  51.  52.  53.  54.  55.  56.  57.  58.  59.  60.  61.  62.  63.
  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.  74.  75.  76.  77.
  78.  79.  80.  81.  82.  83.  84.  85.  86.  87.  88.  89.  90.  91.
  92.  93.  94.  95.  96.  97.  98.  99. 100. 101. 102. 103. 104. 105.
 106. 107. 108. 109. 110. 111. 112. 113. 114. 115. 116. 117. 118. 119.
 120. 121. 122. 123. 124. 125. 126. 127. 128. 129. 130. 131. 132. 133.
 134. 135. 136. 137. 138. 139. 140. 141. 142. 143. 144. 145. 146. 147.
 148. 149. 150.]

In [95]:
for i in array_1:
    if i%2==0:
        print (i)

2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0
22.0
24.0
26.0
28.0
30.0
32.0
34.0
36.0
38.0
40.0
42.0
44.0
46.0
48.0
50.0

In [96]:
for i in array_1:
    if i%2==0 or i%3==0:
        print(i)

2.0
3.0
4.0
6.0
8.0
9.0
10.0
12.0
14.0
15.0
16.0
18.0
20.0
21.0
22.0
24.0
26.0
27.0
28.0
30.0
32.0
33.0
34.0
36.0
38.0
39.0
40.0
42.0
44.0
45.0
46.0
48.0
50.0

In [97]:
for i in array_1:
    if i%2!=0 and i%3==0:
        print(i)

3.0
9.0
15.0
21.0
27.0
33.0
39.0
45.0

In [98]:
for i in array_1:
    if i%2!=0 and i%3==0:
        print(i)

3.0
9.0
15.0
21.0
27.0
33.0
39.0
45.0

In [99]:
for i in array_1:
    if i%2!=0 and i%3!=0:
        print(i)

1.0
5.0
7.0
11.0
13.0
17.0
19.0
23.0
25.0
29.0
31.0
35.0
37.0
41.0
43.0
47.0
49.0

In [100]:
pasajeros=df ["passengers"]
print (pasajeros)

0      112
1      118
2      132
3      129
4      121
5      135
6      148
7      148
8      136
9      119
10     104
11     118
12     115
13     126
14     141
15     135
16     125
17     149
18     170
19     170
20     158
21     133
22     114
23     140
24     145
25     150
26     178
27     163
28     172
29     178
      ...
114    491
115    505
116    404
117    359
118    310
119    337
120    360
121    342
122    406
123    396
124    420
125    472
126    548
127    559
128    463
129    407
130    362
131    405
132    417
133    391
134    419
135    461
136    472
137    535
138    622
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

In [127]:
media_pasajeros= np.mean(pasajeros)
print (media_pasajeros)

280.2986111111111

In [119]:
df['underperforming'] = 0

In [120]:
for i in df ["passengers"]:
    if i > df ["passengers"].mean():
        df['underperforming'][df['passengers']== i]=1

C:\Users\Felix\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [122]:
df ["passengers"].mean()

280.2986111111111

In [123]:
df

     year      month  passengers  underperforming
0    1949    January         112                0
1    1949   February         118                0
2    1949      March         132                0
3    1949      April         129                0
4    1949        May         121                0
5    1949       June         135                0
6    1949       July         148                0
7    1949     August         148                0
8    1949  September         136                0
9    1949    October         119                0
10   1949   November         104                0
11   1949   December         118                0
12   1950    January         115                0
13   1950   February         126                0
14   1950      March         141                0
15   1950      April         135                0
16   1950        May         125                0
17   1950       June         149                0
18   1950       July         170                0
19   1950     August         170                0
20   1950  September         158                0
21   1950    October         133                0
22   1950   November         114                0
23   1950   December         140                0
24   1951    January         145                0
25   1951   February         150                0
26   1951      March         178                0
27   1951      April         163                0
28   1951        May         172                0
29   1951       June         178                0
..    ...        ...         ...              ...
114  1958       July         491                1
115  1958     August         505                1
116  1958  September         404                1
117  1958    October         359                1
118  1958   November         310                1
119  1958   December         337                1
120  1959    January         360                1
121  1959   February         342                1
122  1959      March         406                1
123  1959      April         396                1
124  1959        May         420                1
125  1959       June         472                1
126  1959       July         548                1
127  1959     August         559                1
128  1959  September         463                1
129  1959    October         407                1
130  1959   November         362                1
131  1959   December         405                1
132  1960    January         417                1
133  1960   February         391                1
134  1960      March         419                1
135  1960      April         461                1
136  1960        May         472                1
137  1960       June         535                1
138  1960       July         622                1
139  1960     August         606                1
140  1960  September         508                1
141  1960    October         461                1
142  1960   November         390                1
143  1960   December         432                1

[144 rows x 4 columns]

In [118]:
df.at[1,"underperforming"]

0

In [130]:
desviacion_estandar=np.std(pasajeros)
print (desviacion_estandar)

119.54904153277148

In [128]:
print (media_pasajeros)

280.2986111111111

In [135]:
df['outlier'] = 0
tendencia_1= (media_pasajeros+desviacion_estandar)
tendencia_2=(media_pasajeros-desviacion_estandar)
print (tendencia_1)
print (tendencia_2)

399.84765264388255
160.74956957833962

In [147]:
for i in range(144):
    if df["passengers"].at[i]>tendencia_1 or df["passengers"].at[i]<tendencia_2:
        df['outlier'].at[i] = 1

In [148]:
df

     year      month  passengers  underperforming  outlier
0    1949    January         112                0        1
1    1949   February         118                0        1
2    1949      March         132                0        1
3    1949      April         129                0        1
4    1949        May         121                0        1
5    1949       June         135                0        1
6    1949       July         148                0        1
7    1949     August         148                0        1
8    1949  September         136                0        1
9    1949    October         119                0        1
10   1949   November         104                0        1
11   1949   December         118                0        1
12   1950    January         115                0        1
13   1950   February         126                0        1
14   1950      March         141                0        1
15   1950      April         135                0        1
16   1950        May         125                0        1
17   1950       June         149                0        1
18   1950       July         170                0        0
19   1950     August         170                0        0
20   1950  September         158                0        1
21   1950    October         133                0        1
22   1950   November         114                0        1
23   1950   December         140                0        1
24   1951    January         145                0        1
25   1951   February         150                0        1
26   1951      March         178                0        0
27   1951      April         163                0        0
28   1951        May         172                0        0
29   1951       June         178                0        0
..    ...        ...         ...              ...      ...
114  1958       July         491                1        1
115  1958     August         505                1        1
116  1958  September         404                1        1
117  1958    October         359                1        0
118  1958   November         310                1        0
119  1958   December         337                1        0
120  1959    January         360                1        0
121  1959   February         342                1        0
122  1959      March         406                1        1
123  1959      April         396                1        0
124  1959        May         420                1        1
125  1959       June         472                1        1
126  1959       July         548                1        1
127  1959     August         559                1        1
128  1959  September         463                1        1
129  1959    October         407                1        1
130  1959   November         362                1        0
131  1959   December         405                1        1
132  1960    January         417                1        1
133  1960   February         391                1        0
134  1960      March         419                1        1
135  1960      April         461                1        1
136  1960        May         472                1        1
137  1960       June         535                1        1
138  1960       July         622                1        1
139  1960     August         606                1        1
140  1960  September         508                1        1
141  1960    October         461                1        1
142  1960   November         390                1        0
143  1960   December         432                1        1

[144 rows x 5 columns]